@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-size: clamp(1rem, 1vw, 1.1875rem);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.bokhe-gradient-main {
  border-radius: 999rem;
  background: linear-gradient(
    135deg,
    #ff6ec4 10%,
    /* Pink */ #ffaa82 25%,
    /* Peach */ #ffdd77 40%,
    /* Yellow */ #ef9f3e 55%,
    /* Orange */ #a54ae6 70% /* Purple */
  );
  filter: blur(200px);
  width: 41.3125rem;
  height: 41.0625rem;
  transform: rotate(-114.722deg);
  flex-shrink: 0;
  transition: transform 0.5s ease, filter 0.5s ease;
}

/* Adding a subtle shadow for a more interesting effect */
.bokhe-gradient-main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: inherit;
  filter: blur(100px);
  opacity: 0.6;
  z-index: -1;
}

/* CSS */
.button-89 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
